:root {
  --primary-color: #0052A1;
  --primary-color-2: #336FB5;
  --primary-color-3: #669CCD;
  --primary-color-4: #99C9E5;
  --secondary-color: #009FE3;
  --warm-color: #EA5B13; /* Rojo para acentos */
  --cold-color: #454084; /* Color de fondo */
  --text-color: #333333; /* Color del texto */
}